{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h1>Bienvenue sur tu préfères</h1>

            {% for message in app.flashes('success') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            <h2>tu préfères</h2>
            {% if items %}
                {% if items|length < 2 %}
                    Pas assez de choix pour le moment :)
                {% else %}
                    <div class="container">
                        <div class="row">

                            {% for item in items|slice(0, 2) %}
                                <div class="col-md-6">
                                    <div class="card" style="max-width: 25rem;">
                                        <img class="card-img-top"
                                             src="{% if item.imageName is not null %}
                                {{ vich_uploader_asset(item, 'image') }}
                               {% else %}https://picsum.photos/500?random
                                {% endif %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ item.titre }}</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the
                                                bulk of the
                                                card's content.</p>
                                            <div class="text-center">
                                                <a href="{{ path('voteForItem',{'slug' : item.slug}) }}"
                                                   class="btn btn-primary ">Voter</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>

                    </div>

                {% endif %}
            {% else %}
                Veuillez vous connecter pour pouvoir voter
            {% endif %}

            <h2>les 10 derniers votes</h2>
            {% for vote in lastVotes %}
                <p> - {{ vote.user.username}} à voté pour {{ vote.item.titre }}</p>
            {% endfor %}

        </div>
        <div class="col-md-3">
            <div class="container mt-5">
                <div class="">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') or not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <h3> Connectez-vous !</h3>
                        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">

                            <div class="form-label-group">
                                <input type="text" name="_username" id="inputEmail" class="form-control" placeholder="{{ 'security.login.username'|trans }}" required autofocus>
                                <label for="inputEmail">Nom d'utilisateur</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password"  name="_password" id="inputPassword" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required>
                                <label for="inputPassword">Mot de passe</label>
                            </div>

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me" value="one"> Se souvenir de moi
                                </label>
                            </div>

                            <input class="btn btn-s btn-block" type="submit" id="_submit" name="_submit" value="connexion"/>
                        </form>

                        {% else %}
                            <h3> Bonjour {{ app.user.username }} :) </h3>

                            <a class="btn btn-danger" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                            <hr>
                            {% if lastUserVotes is not null %}
                                Vos derniers votes :
                                <ul>
                                    {% for lastVote in lastUserVotes  %}
                                        <li>
                                            {{ lastVote.item.titre }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <hr>

                            {% endif %}
                    {% endif %}

                </div><!-- register -->
            </div>
        </div>

    </div>


{% endblock %}
